@model EventModel

@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <div class="col-12 col-md-10 col-lg-8 col-xl-6 mx-auto">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card primary-color-dark">
            <h5 class="card-header">@ViewData["Title"]</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="StartDateTime" class="control-label"></label>
                            <input asp-for="StartDateTime" class="form-control" disabled/>
                            <span asp-validation-for="StartDateTime" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="EndDateTime" class="control-label"></label>
                            <input asp-for="EndDateTime" class="form-control" disabled/>
                            <span asp-validation-for="EndDateTime" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" class="form-control" disabled></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <form asp-action="Delete">
                        @Html.Partial("./BackToEventListButton", Model.ProjectId)
                        <input type="hidden" asp-for="Id"/>
                        <input type="hidden" asp-for="ProjectId"/>
                        <input type="submit" value="Delete" class="btn btn-danger"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>