@model EventModel

@{
    ViewData["Title"] = "Modify";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<hr />

<div class="row">
    <div class="col-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ProjectId" />
            <input type="hidden" asp-for="UserId" />
            <div class="row">
                <div class="col-0 col-md-2 col-lg-3">
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label asp-for="StartDateTime" class="control-label"></label>
                        <input asp-for="StartDateTime" class="form-control" />
                        <span asp-validation-for="StartDateTime" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label asp-for="EndDateTime" class="control-label"></label>
                        <input asp-for="EndDateTime" class="form-control" />
                        <span asp-validation-for="EndDateTime" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-0 col-md-2 col-lg-3">
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 mx-auto">
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center">
                @Html.Partial("./BackToEventListButton", Model.ProjectId)
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}