.time_tracker_primary_color{
    color: #3443f8;
}

.time_tracker_accent_color {
    color: #f84137;
}

.time_tracker_primary_text_color {
    color: #2b2b2b;
}

.time_tracker_secondary_text_color {
    color: #484848;
}

.time_tracker_tertiary_text_color {
    color: #757575;
}

.time_tracker_form_background_color {
    color: #bdd0e1;
}