@model UserModel

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c">
<link rel="stylesheet" href="~/css/loginscreen.css">

@{
    ViewData["Title"] = "Sign Up";
    bool? accountCreatedSuccessfully = ViewBag.accountCreatedSuccessfully;
}

@{
    if (accountCreatedSuccessfully != null && (bool) accountCreatedSuccessfully)
    {
        <div class="alert alert-success" role="alert">
            Account was created successfully <a asp-action="Login">Login</a>
        </div>
    }
}

<h1 class="welcome_header">Welcome!</h1>
<p class="welcome_paragraph">For all your time tracking needs</p>

<img class="time_tracker_background_image" src="https://i.postimg.cc/rmzmX6hg/time-tracker-background.png">

<div class="row justify-content-center">
    <div class="col-md-4 justify-content-center">
        <form asp-action="SignUp">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <input asp-for="Username" class="form-control email_input" placeholder="Email"/>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="Password" type="password" class="form-control password_input" placeholder="Password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Sign Up" class="form-control login_button"/>
            </div>
        </form>
    </div>
</div>

<p class="sign_up_text">Already have an account? <a asp-action="Login">Login</a></p>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}